/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); /* font-family: 'Nunito', sans-serif;*/

/* vars */
:root{
  --black: #000;
  
  --color-grey: #b4b4b4;
  --color-34: #343434;
  --color-2: #ffff00;
  --color-b: #F4F4F4;
}

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
  height: 100%;
  background-color: var(--color-b);
  width: 100%;
  display: block;
  overflow-x: hidden;
}

/* loader */
.loader-container{
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: var(--black);
  position: fixed;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.loader{
  width: 100px;
  height: 100px;
  border: 5px solid;
  color: var(--color-2);
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  to{
      transform: rotate(500deg);
  }
}


/* scroll */
::-webkit-scrollbar {
  width: 0.7em;
  height: 0.5em;
  background-color: var(--color-grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-2);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey);
}


/* sliders */

.sliders{
  position: relative;
  padding: 15px;
  max-width: 100vw;
  background-color: #797979;
  margin: 0 auto;
}

.sliders .sliders-container{
  padding: 50px;
}

.sliders .sliders-container .arrow-left, .sliders .sliders-container .arrow-right{
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  font-size: 50px;
  background: linear-gradient(to left, transparent 0%, var(--color-2) 200%);
  bottom: 0;
  color: #fff;
  border: none;
  width: 40px;
  text-align: center;
  cursor: pointer;
  line-height: 250px;
  opacity: 0.6;
  font-size: 20px;
  transition: all 600ms ease-in-out;
}

.sliders .sliders-container .arrow-left:hover, .sliders .sliders-container .arrow-right:hover{
  opacity: 1;
}

.sliders .sliders-container .arrow-right{
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, var(--color-2) 200%);
}

.sliders .sliders-container .sliders-content{
  overflow-x: auto;
}

.sliders .sliders-container .sliders-content::-webkit-scrollbar{
  width: 0.7em;
  display: none;
  height: 0.5em;
  background-color: var(--color-grey);
}

.sliders .sliders-container .sliders-content::-webkit-scrollbar-thumb {
  background-color: var(--color-2);
}

.sliders .sliders-container .sliders-content::-webkit-scrollbar-track {
  background-color: var(--color-grey);
}

.sliders .sliders-container .sliders-bars{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliders .sliders-container .sliders-bars .sliders-bar{
  background-color: var(--color-grey);
  width: 30px;
  cursor: pointer;
  height: 5px;
  margin: auto 5px;
}

.sliders .sliders-container .sliders-bars .sliders-bar.active{
  background-color: var(--color-2);
}

.sliders .sliders-container .sliders-content .sliders-items{
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  gap: 50px;
}

.sliders .sliders-container .sliders-content .sliders-items .item{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  opacity: 0.3;
  transition: all 600ms ease-in-out;
}

.sliders .sliders-container .sliders-content .sliders-items .item.curruent-item{
  opacity: 1;
}

.sliders .sliders-container .sliders-content .sliders-items .item .item-main{
  width: 100%;
  height: 100%;
}

.sliders .sliders-container .sliders-content .sliders-items .item .item-main .item-container{
  display: flex;
  background-color: var(--color-grey);
  margin-bottom: 10px;
  border-radius: 5px;
  border-bottom: 1px solid var(--color-2);
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.sliders .sliders-container .sliders-content .sliders-items .item .item-main .item-container .item-group{
  margin: 0 20px;
  text-align: center;
}

.sliders .sliders-container .sliders-content .sliders-items .item .item-main .item-container .item-group img{
  width: 50%;
}




/* dark mode */
.dark-mode{
  background-color: #161616;
  color: white;
  z-index: 99999;
}

.dark-container{
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  left: calc(100% - 70px);
  top: calc(100% - 70px);
  bottom: 0;
}

.dark-container button{
  background-color: var(--black);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='white' class='bi bi-moon' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 4px center;
  vertical-align: middle;
  border: 2px solid var(--black);
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  transform: scale(3);
  transition: all 500ms ease-in-out;
}

.dark-container button.active{
  background-color: white;
  border-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='black' class='bi bi-lightbulb' viewBox='0 0 16 16'%3E%3Cpath d='M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z'/%3E%3C/svg%3E");
}

.dark-mode .sliders{
  background-color: var(--black);
}

.dark-mode .sliders .sliders-container .sliders-bars .sliders-bar{
  background-color: var(--color-34);
}

.sliders .sliders-container .sliders-bars .sliders-bar.active{
  background-color: var(--color-2);
}

.dark-mode .sliders .sliders-container .sliders-content::-webkit-scrollbar{
  background-color: var(--color-34);
}

.dark-mode .sliders .sliders-container .sliders-content::-webkit-scrollbar-track{
  background-color: var(--color-34);
}

.sliders .sliders-container .sliders-content .sliders-items .item .item-main .item-container{
  background-color: var(--color-34);
}

.dark-mode .prev, .next{
  color: var(--color-grey);
}

.dark-mode .navbar{
  background-color: var(--color-34);
}

.dark-mode .navbar-links{
  color: var(--color-grey);
}

.dark-mode .main .main-container .main-content .btns a i{
  color: var(--color-grey);
  border: 2px solid var(--color-grey);

} 

.dark-mode .main .main-container .main-content .content-gr{
  background-color: #343434;
}

.dark-mode .main .main-container .main-content .content-gr p{
  color: var(--color-grey);
}

.dark-mode .main .main-container .main-content .content-gr .img-content.i h2{
  color: var(--color-grey);
}

.dark-mode .main .orc{
  background-color: var(--color-34);
}

.dark-mode footer{
  background-color: var(--color-34);
  color: var(--color-grey);
}

.dark-mode footer .footer-container .footer-content .btns a i{
  color: var(--color-grey);
  border: 2px solid var(--color-grey);
}

.dark-mode footer .footer-container .footer-content .footer-link{
  color: var(--color-grey);
}

/* nav */
.navbar-toggle a{
  display: none;
}

.navbar{
  background-color: var(--color-grey);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* logo */
.navbar-logo{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  height: 93%;
  transition: all .5s ease;
}

.navbar-logo a img{
  margin-top: 20px;
  width: 100px;
  transition: all .4s ease;
}

.navbar-logo a img:hover{
  transition: all .4s ease;
  transform: rotate(10deg);
}

/* menu */
.navbar-menu{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item{
  height: 45px;
}

.navbar-links{
  color: var(--black);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all .5s ease;
  text-transform: uppercase;
}

.navbar-links.active{
  color: var(--color-2);
  transition: all .5s ease;
}

.navbar-links:hover{
  color: var(--color-2);
}


/* main */
.main{
  width: 100%;
  height: 100%;
}

.main .main-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}

.main .orc{
  max-width: 500px;
  margin: 0px auto;
  font-size: 1.1rem;
  line-height: 1.5;
  display: block;
  color: var(--color-2);
  text-transform: uppercase;
  letter-spacing: .3125rem;
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--color-grey);
  padding: 10px;
  border-radius: 5px;
}

.main .main-container .main-content{
  margin: 20px;
  text-align: center;
  position: relative;
}

.main .main-container .main-content .content-gr{
  background-color: var(--color-grey);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  height: 500px;
  width: 500px;
}

.main .main-container .main-content span{
  color: var(--color-2);
}

.main .main-container .main-content .content-gr.p{
  width: 100%;
  height: 500px;
  color: var(--black);
}

.main .main-container .main-content .content-gr p{
  max-width: 350px;
}

.main .main-container .main-content .content-gr ul{
  margin: 20px 0;
}

.main .main-container .main-content .content-gr ul p{
  margin-bottom: 5px;
}

.main .main-container .main-content .content-gr .img-content{
  text-align: center;
  margin-top: 40px;
}

.main .main-container .main-content .content-gr .img-content.i{
  margin-top: 150px;
}

.main .main-container .main-content .content-gr .img-content.i h2{
  color: var(--black);
}

.main .main-container .main-content .content-gr .img-content img{
  width: 90%;
}

.main .main-container .main-content .btns{
  margin: 20px 0;
}

.main .main-container .main-content .btns a{
  padding: 8px;
}

.main .main-container .main-content .btns a i{
  padding: 20px;
  border-radius: 50%;
  color: var(--black);
  border: 2px solid var(--black);
  transition: all .4s ease-in-out;
}

.main .main-container .main-content .btns a i:hover{
  color: var(--black);
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
  transform: scale(1.2);
}

/* footer */
footer{
  width: 100%;
  background-color: var(--color-grey);
  color: var(--black);
  
}

footer .footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

footer .footer-container .footer-content{
  margin: 20px;
  text-align: center;
}

footer .footer-container .footer-content .footer-info.logo a img{
  width: 150px;
  transition: all .4s ease-in-out;
}

footer .footer-container .footer-content .footer-info.logo a img:hover{
  transform: scale(1.2);
}

footer .footer-container .footer-content .btns{
  margin: 20px 0;
}

footer .footer-container .footer-content .btns a{
  padding: 8px;
}

footer .footer-container .footer-content .btns a i{
  padding: 20px;
  border-radius: 50%;
  color: var(--black);
  border: 2px solid var(--black);
  transition: all .4s ease-in-out;
}

footer .footer-container .footer-content .btns a i:hover{
  color: var(--black);
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
  transform: scale(1.2);
}

footer .footer-container .footer-content .footer-link{
  color: var(--black);
  transition: all .4s ease-in-out;
}

footer .footer-container .footer-content .footer-link:hover{
  color: var(--color-2);
  transition: all .4s ease-in-out;
}

.co{
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: var(--color-2);
}

.co h4{
  font-size: 20px;
  color: var(--black);
  font-weight: 600;
}

@media screen and (max-width: 960px) {
  /* Dark mode */
  .dark-container{
    left: calc(100% - 50px);
    top: calc(100% - 50px);
  }

  .dark-container button{
    padding: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='white' class='bi bi-moon' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z'/%3E%3C/svg%3E");
    background-position: 3px center;
  }

  .dark-container button.active{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='black' class='bi bi-lightbulb' viewBox='0 0 16 16'%3E%3Cpath d='M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z'/%3E%3C/svg%3E");
  }

  .dark-mode .navbar-links{
    color: var(--color-b);
  }

  .dark-mode .navbar-menu.active{
    background-color: var(--color-34);
  }

  /* nav */
  .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar-menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar-item.icons{
    display: none;
  }

  .navbar-menu.active{
    background-color: var(--color-grey);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 40vh;
    font: 1.6rem;
  }

  .navbar-logo{
    padding: 20px;
  }

  .navbar-logo img{
    padding: 0 auto;
    width: 120px;
  }

  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .navbar-item{
    width: 100%;
  }

  .navbar-links{
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .navbar-links.active{
    color: var(--color-2);
    border: none;
  }

  .navbar-item:hover{
    border: none;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    margin: 0;
  }

  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu .bar{
    background-color: var(--black);
  }

  .navbar-toggle .bar{
    display: block;
    cursor: pointer;
  }
    
  .navbar-toggle a{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
  }

  #mobile-menu.is-active .bar{
    background-color: #fff;
  }

  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  
    /* sliders */

    .sliders{
      padding: 0;
  }

  .sliders .sliders-container{
      padding: 30px;
  }

  .sliders .arrow-left, .sliders .arrow-right{
      font-size: 15px;
      width: 20px;
  }

  .sliders .sliders-container .sliders-content .sliders-items .item .item-main .item-container{
      flex-direction: column;
      text-align: center;
  }

  .sliders .sliders-container .sliders-content .sliders-items .item .item-main .item-container .item-group{
      margin: 20px 0;
  }

  .sliders .sliders-container .sliders-content .sliders-items .item .item-main .item-container .item-group img{
      width: 100%;
  }

  .main .main-container{
      margin: 0 auto;
  }
  
  footer .footer-container{
      padding: 10px;
  }

  .main .main-container .main-content .content-gr{
    max-width: 350px;
  }

  .main .main-container .main-content .content-gr .img-content img{
      width: 250px;
  }
}