/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); /* font-family: 'Nunito', sans-serif;*/

/* vars */
:root{
  --black: #000;
  
  --color-b: #343434;
  --color-t: rgba(255, 255, 255, 0.753);
  --color-2: #ffff00;
  --color-grey: #161616;
}

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
  height: 100%;
  background-color: var(--color-b);
  width: 100%;
  display: block;
  overflow-x: hidden;
}

.loader-container{
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: var(--black);
  position: fixed;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.loader{
  width: 100px;
  height: 100px;
  border: 5px solid;
  color: var(--color-2);
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  to{
      transform: rotate(500deg);
  }
}


/* scroll */
::-webkit-scrollbar {
  width: 0.7em;
  height: 0.5em;
  background-color: var(--color-b);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-2);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-b);
}

/* nav */
.navbar-toggle a{
  display: none;
}

.navbar{
  background-color: var(--color-grey);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* logo */
.navbar-logo{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  height: 93%;
  transition: all .5s ease;
}

.navbar-logo a img{
  margin-top: 20px;
  width: 100px;
  transition: all .4s ease;
}

.navbar-logo a img:hover{
  transition: all .4s ease;
  transform: rotate(10deg);
}

/* menu */
.navbar-menu{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item{
  height: 45px;
}

.navbar-links{
  color: var(--color-t);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all .5s ease;
  text-transform: uppercase;
}

.navbar-links.active{
  color: var(--color-2);
  transition: all .5s ease;
}

.navbar-links:hover{
  color: var(--color-2);
}


/* main */
.main{
  width: 100%;
  height: 100%;
}

.main .main-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}

.main .orc{
  font-size: 1.1rem;
  line-height: 1.5;
  display: block;
  color: var(--color-2);
  text-transform: uppercase;
  text-shadow: 0px 5px rgb(255 255 0 / 20%);
  letter-spacing: .3125rem;
  text-align: center;
  margin-bottom: 2rem;
}

.main .main-container .main-content{
  margin: 20px;
  text-align: center;
  position: relative;
}

.main .main-container .main-content .content-gr{
  background-color: var(--color-grey);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  height: 500px;
  width: 500px;
}

.main .main-container .main-content span{
  color: var(--color-2);
}

.main .main-container .main-content .content-gr.p{
  width: 100%;
  height: 500px;
}

.main .main-container .main-content .content-gr p{
  max-width: 350px;
}

.main .main-container .main-content .content-gr ul{
  margin: 20px 0;
}

.main .main-container .main-content .content-gr ul p{
  margin-bottom: 5px;
}

.main .main-container .main-content .content-gr .img-content{
  text-align: center;
  margin-top: 40px;
}

.main .main-container .main-content .content-gr .img-content.i{
  margin-top: 150px;
}

.main .main-container .main-content .content-gr .img-content img{
  width: 80%;
}

.main .main-container .main-content .btns{
  margin: 20px 0;
}

.main .main-container .main-content .btns a{
  padding: 8px;
}

.main .main-container .main-content .btns a i{
  padding: 20px;
  border-radius: 50%;
  color: var(--color-t);
  border: 2px solid var(--color-t);
  transition: all .4s ease-in-out;
}

.main .main-container .main-content .btns a i:hover{
  color: var(--black);
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
  transform: scale(1.2);
}

/* footer */
footer{
  width: 100%;
  background-color: var(--color-grey);
  color: var(--color-t);
  
}

footer .footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

footer .footer-container .footer-content{
  margin: 20px;
  text-align: center;
}

footer .footer-container .footer-content .footer-info.logo a img{
  width: 150px;
  transition: all .4s ease-in-out;
}

footer .footer-container .footer-content .footer-info.logo a img:hover{
  transform: scale(1.2);
}

footer .footer-container .footer-content .btns{
  margin: 20px 0;
}

footer .footer-container .footer-content .btns a{
  padding: 8px;
}

footer .footer-container .footer-content .btns a i{
  padding: 20px;
  border-radius: 50%;
  color: var(--color-t);
  border: 2px solid var(--color-t);
  transition: all .4s ease-in-out;
}

footer .footer-container .footer-content .btns a i:hover{
  color: var(--black);
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
  transform: scale(1.2);
}

footer .footer-container .footer-content .footer-link{
  color: var(--color-t);
  transition: all .4s ease-in-out;
}

footer .footer-container .footer-content .footer-link:hover{
  color: var(--color-2);
  transition: all .4s ease-in-out;
}

.co{
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 15px;
  color: var(--color-t);
  background: linear-gradient(190deg, var(--black), var(--color-2));
}

.co h4{
  font-size: 20px;
  color: var(--color-t);
  font-weight: 600;
}

@media screen and (max-width: 960px) {
  /* nav */
  .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar-menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar-item.icons{
    display: none;
  }

  .navbar-menu.active{
    background-color: var(--color-grey);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 40vh;
    font: 1.6rem;
  }

  .navbar-logo{
    padding: 20px;
  }

  .navbar-logo img{
    padding: 0 auto;
    width: 120px;
  }

  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .navbar-item{
    width: 100%;
  }

  .navbar-links{
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .navbar-links.active{
    color: var(--color-2);
    border: none;
  }

  .navbar-item:hover{
    border: none;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    margin: 0;
  }

  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu .bar{
    background-color: var(--color-t);
  }

  .navbar-toggle .bar{
    display: block;
    cursor: pointer;
  }
    
  .navbar-toggle a{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
  }

  #mobile-menu.is-active .bar{
    background-color: #fff;
  }

  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }


  .main .main-container{
      margin: 0 auto;
  }
  
  footer .footer-container{
      padding: 10px;
  }

  .main .main-container .main-content .content-gr{
    max-width: 400px;
  }

  .main .main-container .main-content .content-gr .img-content img{
      width: 350px;
  }
}