/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); /* font-family: 'Nunito', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* global */
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* vars */
:root{
  --black: #000;
  
  --color-b: #343434;
  --color-t: #fff;
  --color-2: #ffff00;
  --color-grey: #161616;
}


/* scroll */
::-webkit-scrollbar {
  width: 0.7em;
  height: 0.5em;
  background-color: var(--color-b);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-2);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-b);
}

/* anim */
@keyframes loader {
  to{
      transform: rotate(500deg);
  }
}

@keyframes animScaleGlobal {
  100%{
      transform: scaleX(1);
  }
}

/* loader */
.loader-container{
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: var(--black);
  position: fixed;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.loader{
  width: 100px;
  height: 100px;
  border: 5px solid;
  color: var(--color-2);
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

/* geral */
html{
  scroll-behavior: smooth;
  height: 100%;
}

body{
  height: 100%;
  display: block;
  overflow-x: hidden;
  color: var(--color-t);
  background-color: var(--color-b);
}

body span{
    color: var(--color-2);
}

/* nav */
.navbar-toggle a{
  display: none;
}

.navbar{
  background-color: var(--color-grey);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* logo */
.navbar-logo{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  height: 93%;
  transition: all .5s ease;
}

.navbar-logo a img{
  margin-top: 20px;
  width: 120px;
  transition: all .4s ease;
}

.navbar-logo a img:hover{
  transition: all .4s ease;
  transform: rotate(10deg);
}

/* menu */
.navbar-menu{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item{
  height: 45px;
}

.navbar-links{
  color: var(--color-t);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all .5s ease-in-out;
}

.navbar-links.active{
  color: var(--color-2);
  transition: all .5s ease-in-out;
}

.navbar-links:hover{
  color: var(--color-2);
  transition: all .5s ease-in-out;
}





/* min */
.main{
  width: 100vw;
  height: 100vh;
}

.main .info-span-content{
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  color: var(--color-2);
  text-transform: uppercase;
  text-shadow: 0px 10px rgb(255 255 0 / 20%);
  letter-spacing: .3125rem;
  text-align: center;
  margin-bottom: 2rem;
}

.main .main-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}

.main .main-container .main-content{
  margin: 20px;
  text-align: center;
  position: relative;
}

.main .main-container .main-content .content-gr{
  color: var(--color-t);
  padding: 20px;
  border-radius: 5px;
}

.main .main-container .main-content .content-gr2{
  background-color: var(--black);
  color: var(--color-t);
  padding: 30px;
  border-radius: 5px;
}

.main .main-container .main-content2 .content-gr2{
  background-color: var(--black);
  color: var(--color-t);
  padding: 64px;
  border-radius: 5px;
  max-width: 450px;
}

.main .main-container .main-content .content-gr2 p{
  max-width: 500px;
}

.main .main-container .main-content .content-gr .img-content{
  text-align: center;
}

.main .main-container .main-content .btns{
  margin: 20px 0;
}

.main .main-container .main-content .btns a i{
  padding: 20px;
  border-radius: 50%;
  color: var(--color-t);
  border: 2px solid var(--color-t);
  transition: all 600ms ease-in-out;
}

.main .main-container .main-content .btns a i:hover{
  color: #000;
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
}


/* footer */
.footer{
  margin-top: 200px;
}

footer{
  position: relative;
  width: 100%;
  background-color: black;
  color: var(--color-t);
}

footer .footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

footer .footer-container .footer-content{
  margin: 20px;
  text-align: center;
}

footer .footer-container .footer-content p .footer-link{
  color: var(--color-t);
  transition: all .5s ease-in-out;
}

footer .footer-container .footer-content p .footer-link:hover{
  color: var(--color-2);
  transition: all .5s ease-in-out;
}

footer .footer-container .footer-content .footer-info.logo a img{
  width: 10%;
  color: #fff;
  padding: 0 auto;
  background-color: transparent;
  margin: 0 auto;
  font-size: 100px;
  transition: all .4s ease-in-out;
}

footer .footer-container .footer-content .footer-info.logo a:hover img{
  transition: all .4s ease-in-out;
  transform: rotate(360deg);
  color: var(--color-primary);
}

footer .footer-container .footer-content .btns{
  margin: 20px 0;
}

footer .footer-container .footer-content .btns a i{
  padding: 20px;
  border-radius: 50%;
  color: var(--color-t);
  border: 2px solid var(--color-t);
  transition: all 600ms ease-in-out;
}

footer .footer-container .footer-content .btns a i:hover{
  color: #000;
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
}

footer .footer-container .footer-content .copy{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  text-align: center;
  cursor: default;
  padding: 8px;
}



@media screen and (max-width: 1300px){
  /* nav */
  .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  
  .navbar-menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  
  .navbar-item.icons{
    display: none;
  }
  
  .navbar-menu.active{
    background-color: var(--color-grey);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 40vh;
    font: 1.6rem;
  }
  
  .navbar-logo{
    padding: 20px;
  }
  
  .navbar-logo img{
    padding: 0 auto;
    width: 120px;
  }
  
  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-t);
  }
  
  .navbar-item{
    width: 100%;
  }
  
  .navbar-links{
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  
  .navbar-links.active{
    color: var(--color-2);
    border: none;
  }
  
  .navbar-item:hover{
    border: none;
  }
  
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    margin: 0;
  }
  
  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  
  #mobile-menu .bar{
    background-color: var(--color-t);
  }
  
  .navbar-toggle .bar{
    display: block;
    cursor: pointer;
  }
    
  .navbar-toggle a{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
  }
  
  #mobile-menu.is-active .bar{
    background-color: var(--color-t);
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
     transform: translateY(-8px) rotate(-45deg);
    }
  
    /* min */
    .main{
      width: 100%;
      height: 100%;
    }

    .main .main-container{
      margin: 0 auto;
    }
  
    .main .main-container .main-content .content-gr .img-content img{
      width: 250px;
    }
    
    /* min2 */
    .main .main-container .main-content .content-gr2{
      margin: 0 auto;
    }

    .main .main-container .main-content2 .content-gr2{
      background-color: var(--black);
      color: var(--color-t);
      padding: 64px;
      border-radius: 5px;
      max-width: 370px;
    }
  
    .footer{
      margin-top: 150px;
    }
  }

@media screen and (max-width: 960px){
/* nav */
.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0;
}

.navbar-menu{
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  width: 100%;
  position: absolute;
  top: -1000px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: -1;
}

.navbar-item.icons{
  display: none;
}

.navbar-menu.active{
  background-color: var(--color-grey);
  top: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 40vh;
  font: 1.6rem;
}

.navbar-logo{
  padding: 20px;
}

.navbar-logo img{
  padding: 0 auto;
  width: 120px;
}

.navbar-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-t);
}

.navbar-item{
  width: 100%;
}

.navbar-links{
  text-align: center;
  padding: 1rem;
  width: 100%;
  display: table;
}

.navbar-links.active{
  color: var(--color-2);
  border: none;
}

.navbar-item:hover{
  border: none;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  margin: 0;
}

#mobile-menu{
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(5%, 20%);
}

#mobile-menu .bar{
  background-color: var(--color-t);
}

.navbar-toggle .bar{
  display: block;
  cursor: pointer;
}
  
.navbar-toggle a{
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
  justify-content: center;
}

#mobile-menu.is-active .bar{
  background-color: var(--color-t);
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
   transform: translateY(-8px) rotate(-45deg);
  }

  /* min */
  .main .main-container{
    margin: 0 auto;
  }

  .main .main-container .main-content .content-gr .img-content img{
    width: 250px;
  }
  
  /* min2 */
  .main .main-container .main-content .content-gr2{
    margin: 0 auto;
  }

  .footer{
    padding-top: 300px;
  }
}

@media screen and (max-width: 280px){
  /* nav */
  .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  
  .navbar-menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  
  .navbar-item.icons{
    display: none;
  }
  
  .navbar-menu.active{
    background-color: var(--color-grey);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 40vh;
    font: 1.6rem;
  }
  
  .navbar-logo{
    padding: 20px;
  }
  
  .navbar-logo img{
    padding: 0 auto;
    width: 120px;
  }
  
  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-t);
  }
  
  .navbar-item{
    width: 100%;
  }
  
  .navbar-links{
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  
  .navbar-links.active{
    color: var(--color-2);
    border: none;
  }
  
  .navbar-item:hover{
    border: none;
  }
  
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    margin: 0;
  }
  
  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  
  #mobile-menu .bar{
    background-color: var(--color-t);
  }
  
  .navbar-toggle .bar{
    display: block;
    cursor: pointer;
  }
    
  .navbar-toggle a{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
  }
  
  #mobile-menu.is-active .bar{
    background-color: var(--color-t);
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
     transform: translateY(-8px) rotate(-45deg);
    }
  
    /* min */
    .main .main-container{
      margin: 0 auto;
    }
  
    .main .main-container .main-content .content-gr .img-content img{
      width: 250px;
    }
    
    /* min2 */
    .main .main-container .main-content .content-gr2{
      margin: 0 auto;
    }
  
    .footer{
      padding-top: 1200px;
    }
  }